<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.keigo_yamamoto.repbyimg">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".RepByImage"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Main.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Download.DownloadReceiverActivity"
            android:label="@string/download_activity_name"
            android:theme="@style/DialogActivityTheme">
            <item android:name="android:windowBackground">@android:color/transparent</item>
            <item android:name="android:colorBackgroundCacheHint">@null</item>
            <item android:name="android:windowIsTranslucent">true</item>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>

        <service
            android:name=".Download.DownloadService">
        </service>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.keigo_yamamoto.repbyimg.fileprovider"
            android:grantUriPermissions="true"
            android:exported="false">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/fileprovidersetting" />
        </provider>

    </application>

</manifest>